// ------------------- All Color Variable-------------//

:root{
    --yellow: #DCE764;
    --gray:   #564C4C;
    --black:  #191919;
    --white:  #ffff;
    --lightGray: #D7C8C8;
    --lightBlue: #E9E7FF;
    --lightGreen:#E3F3E4;
    --cyan:      #E2F8F8;
    --primary-font: 'Satoshi', sans-serif;
}