// ------------------- All Color Variable-------------//

:root{
    --accent: #DCE764;
     --primary-color:   #564C4C;  
    --secondery-color:  #191919;   
    --white:  #ffff;
    --lightGray: #D7C8C8;
    --lightBlue: #E9E7FF;
    --lightGreen:#E3F3E4;
    --cyan:      #E2F8F8;
    --primary-font: "Inter", sans-serif;
}