.fz_site_header{

}

.fz_site_header.fz_style_1{
    // background-color: var(--secondery-color);
    background-color: transparent;
    color: white;

.fz_main_header_in{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fz_main_header_right{
    // display: flex;
    // align-items: center;
    // justify-content: center;
    .fz_nav{

        .fz_nav_list{
            display: flex;
            align-items: center;
            justify-content: center;
           

            li{
                list-style: none;
                padding-right: 45px;
               &:last-child{
                padding-right: 0;
               } 
               a{
                font-weight: 500;
               }
            }
        }
    }
}
}

.fz_sticky_header{
    position: fixed;
   width: 100%;
   z-index: 999;
}
.fz_gescout_sticky{
    position: fixed;
    top: -110px;
    transition: all 0.4s ease;

    &.fz_sticky_header.fz_style_1{
        background-color: var(--secondery-color);
    }

}
.fz_gescout_show{
    top: 0;
}