.fz_slide{
    margin-left: 15px;
    margin-right: 15px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.slick-list{
    .slick-track{
        height: 100%;
    }
}
.draggable{
    cursor: url('../img/drag.png') 16 9, ew-resize !important;
}
.fz_slider_wrapper{
    width: 100vw;
    
}
