@media screen and (min-width: 992px) {
    @for $i from 1 through 160 {
        .fz_height_#{$i} {
            height: $i + px;
        }
    }
    .fz_height_170 {
        height: 170px;
    }
    .fz_height_182 {
        height: 182px;
    }
}
@media screen and (max-width: 991px) {
    @for $i from 1 through 160 {
        .fz_height_lg_#{$i} {
            height: $i + px;
        }
    }
}

