.fz_demo_consalting {
    .fz_demo_consalting_in {
        padding: 41px 0;

        a {
            background: var(--secondary-color);
            padding: 10px 30px;
            color: white;
            border-radius: 5px;
            display: inline-flex;
            gap: 10px;
            align-items: center;
            :hover{
                background-color: black;
            }
        }
        @media screen and (max-width:991px) {
            flex-direction: column;
          a{
            margin-top: 40px;
          }
        }
    }

}

.fz_statistics {
    .fz_right_vector {
        top: 89px;
        right: 205px;
        @media screen and (max-width: 991px) {
            display: none;
        }
    }

}
.fz_who_we_are_left{
    overflow: hidden;
    @media screen and (max-width:991px){
       
    }
}
.fz_who_we_are_text{
    padding-left: 100px;
}

.fz_who_we_are_left_in {
    height: 320px;
    width: 320px;
    background: var(--accent);
    border-radius: 50%;
    position: relative;
    left: 175px;
    top: 90px;
    
@media screen and (max-width:991px) {
   
   
}  
}
.fz_who_we_are_imgs{
  @media screen and (max-width:991px) {
    
  }
}
.fz_who_we_are_img1 {
    top:-80px;
    left: -180px;
    @media screen and (max-width:991px){
    }
}

.fz_who_we_are_img2 {
    top: 120px;
    left: 200px;
    @media screen and (max-width:991px){
  
    }
}

.star1{
    top: 37px;
    left: 448px;
   
}
.star2{
    left: 40px;
    bottom: 80px;
}
.star3{
    left: 128px;
    bottom: 0;
}
.round1{
    top: 70px;
    left: 258px;
}
.round2{
    left:285px;
    bottom: 0;
}
