.fz_demo_consalting{
    .fz_demo_consalting_in{
       padding: 41px 0;

       a{
        background: var(--secondary-color);
        padding: 10px 30px;
        color: white;
        border-radius: 5px;
        display: inline-flex;
        gap: 10px;
        align-items: center;
       }
    }
   
}
.fz_statistics{
 .fz_right_vector{
        top: 89px;
        right: 205px;
    }

}