.fz_case_study {
    transition: all 0.3s ease;
    .fz_case_study_heading{
        a{
            padding: 10px 20px;
        }
    }

    .fz_case_study_arrow_btns {
        .fz_slider_prev,
        .fz_slider_next{
            border: 1px solid black;
            transition: all 0.4s ease;

            &:hover{
                background-color: var(--secondary-color);
                color: white;
            }
        }

      
    }

    .fz_case_study_btns {
        width: 90% ;
        height: 98px;
        background-color: var(--accent);
        bottom: 76px;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        opacity: 0;
        transition: all 0.4s ease;
        svg{
            background-color: white;
            border-radius: 50%;
            margin-right: 19px;
        }
       
    }
    .fz_case_study_img{
        img{
            transition: all 0.3s ease-in-out;
        }
      overflow: hidden;
        &:hover{
            .fz_case_study_btns{
                opacity: 1;
                transform: scale(1.01);
            }
            img{
                
                transform: scale(1.1);
            }
        }
    }
}