.fz_contact_icon{
   svg{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--cyan);
   }
}
.fz_contact_right{
    input{
        height: 50px;
    }
    .fz_details_input{
        height: 220px;
    }
}
.fz_map iframe{
    width: 100%;
    height: 600px;
    border: none;
    filter: grayscale(100%);
}