.fz_service_in {
    
    .row {


        &:hover {
            .fz_service_btn {
                path {
                    fill: black;
                }
                background-color: var(--accent);
                border: none;
            }
        }
    }

    .row:not(:last-child) {
        &::after {
            content: '';
            border: 1px solid #564C4C;
            width: 100%;
            margin-top: 51px;
            opacity: 0.2;
        }
    }

    img {
        width: 150px;
        height: 150px;
    }

    .fz_service_btn,
    .fz_service_btn2 {
        transition: all 0.4s ease;
        height: 80px;
        width: 80px;
        border-radius: 50%;

    }

    .fz_service_btn {
        border: 1px solid white;
    }

    .fz_service_btn2 {
        border: 1px solid var(--primary-color);

        path {
            fill: var(--primary-color);
        }
    }

}
.fz_service_in {

    @media screen and (max-width:767px) {
        .fz_servie_text{
            text-align: center;
        }
    }
}

.fz_satisfaction {
    background: linear-gradient(90deg, #E55F67 0%, #122DB6 100%);
}

.fz_why_choose_service_icon_in {
    height: 96px;
    width: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.fz_satisfaction_img {
    .fz_satisfaction_main_img{
    >:nth-child(1) {
        position: absolute;
        bottom: 0px;
        z-index: 3;
    }
    >:nth-child(2){
        position: absolute;
        bottom: 0px;
        z-index: 4;
    }
}
    .fz_satisfaction_side_img{

    >:nth-child(1) {
        position: absolute;
        top: 0px;
        left: -50px;
        z-index: 1;
      
    }
    >:nth-child(2) {
        left: 340px;
        position: absolute;
        bottom: 0px;
        @media screen and (max-width: 991px) {
           left: 500px;
        }
        @media screen and (max-width:767px) {
           left: 300px;
        }
    }
    >:nth-child(3){
        position: absolute;
        bottom: 0px;
        left: 400px;
        top: 0px;
        @media screen and (max-width: 991px) {
            display: none;
        }
    }
    >:nth-child(4) {
        position: absolute;
        z-index: 2;
        top: 90px;
        @media screen and (max-width: 991px) {
            display: none;
        }
    }
  
}
}

.fz_satisfaction_in{
    .fz_satisfaction_text{
        padding-right: 100px;
    }
    @media screen and (max-width: 991px) {
        height: 700px;
    }
}