
.fz_team{
    background-color: #FDF6F0;
}
.fz_team_details{
    height: 85px;
    width: 90%;
    background-color: white;
    border-radius: 5px;
    bottom: 10px;
    left: 17px;

    >* {
        margin: 0 20px;
    }

}