.fz_testimonial_in {

.fz_testimonial_left{
 .tabContent{
    display: none;
 }
}
    .fz_testimonial_right {
        .tabImg{
            display: none;
        }
        .fz_testimonial_img {
            max-width: 538px;       
        }
        .fz_testimonial_object {
            width: 83px;
            height: 76px;
            top: -50px;
            right: -52px;
            @media screen and (max-width: 991px) {
                display: none;
            }
        }
        @media screen and (max-width: 991px) {
            justify-content: center !important;
        }
    }

}

.fz_testimonials_tab_section {
    
.fz_testimonial{
    padding: 30px 20px;
    transition: all 0.3s;
    img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 19px;
    }
    &:hover{
        background-color: rgb(190, 235, 251);
    }
    &.active{
        background-color: var(--cyan);
    }
}

@media screen and (max-width:991px) {
    display: none;
}
   
}

.fz_vector{
    .fz_vector1{
        position: absolute;
        bottom: 0;
    }

.fz_vector2{
    position: absolute;
    bottom: 0;
    left: 180px;
}
.fz_vector3{
    position: absolute;
    bottom: 0;
    left: 272px;
}
@media screen and (max-width:991px) {
    display: none;
    
}
}