.fz_why_choose{



    .fz_why_choose_iconBox{
        gap: 80px;
        > *{
            max-width: 312px;
            margin: 0 auto;
        }
        // @media screen and (max-width:991px) {
        //     flex-direction: column;
            
        // }
    }

    .fz_whyChoose_icon{
        height: 96px;
        width: 96px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width:1199px) {
    .fz_who_we_are{
        flex-direction: column;
        .fz_who_we_are_img{
            margin: 0 auto;
        }
        .fz_who_we_are_text{
           text-align: center;
            margin: 0 auto;
            div{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}